<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'favi.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raport</title>
</head>
<body>
    <div class="main">
        <form action="{% url 'index' %}" method="get" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Strona Główna</button>
        </form>
        
        <form method="GET" style="display: inline;">
            <label for="month">Miesiąc:</label>
            <select id="month" name="month">
                {% for i in months %}
                    <option value="{{ i }}" {% if i == selected_month %}selected{% endif %}>
                        {{ i }}
                    </option>
                {% endfor %}
            </select>

            <label for="year">Rok:</label>
            <select id="year" name="year">
                {% for y in years %}
                    <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>

            {% if is_manager %}
            <label for="user">Pracownik:</label>
            <select id="user" name="user">
                {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id == selected_user.id %}selected{% endif %}>
                        {{ user.first_name }} {{ user.last_name }}
                    </option>
                {% endfor %}
            </select>
            {% endif %}

            <button type="submit">Pokaż</button>
        </form><br><br>

        <table>
            <caption>
                Raport pracownika {{ selected_user.first_name }} {{ selected_user.last_name }} za {{ selected_month_name }} {{ selected_year }}
            </caption>
            <thead>
                <tr>
                    <th>Dzień</th>
                    <th>Rozpoczęcie</th>
                    <th>Zakończenie</th>
                    <th class="desc">Opis</th>
                    <th>Typ</th>
                    <th>Przepracowane godziny</th>
                    <th>Nadgodziny</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        {% if forloop.first or rows|slice:"{{ forloop.counter0|add:-1 }}:" %}
                            <td rowspan="{{ row.rowspan }}">{{ row.date|date:"j" }}</td>
                        {% endif %}
                        <td>{{ row.start_time }}</td>
                        <td>{{ row.end_time }}</td>
                        <td class="desc">{{ row.desc }}</td>
                        <td>{{ row.get_type_display }}</td>
                            <td rowspan="{{ row.rowspan }}">{{ row.total_hours }}</td>
                            <td rowspan="{{ row.rowspan }}">{{ row.overtime_hours }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
