<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'favi.ico' %}">
    <title>Zapisano</title>
</head>
<body>
    <h1>DODANO WPIS</h1>
    <p><a href="/">Wróć do strony głównej</a></p><br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="loginbutton" value="Wyloguj">
    </form>
</body>
</html>